<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="d1_ros2_control"
							 params="system_name:=D1MujocoSystem
											 mujoco:=true
											 mujoco_model:=/tmp/mujoco/scene.xml
											 headless:=false
											 sim_speed_factor:=-1.0
											 camera_publish_rate:=20.0
											 lidar_publish_rate:=10.0
											 initial_keyframe:=spawn
											 use_fake_hardware:=false
											 fake_sensor_commands:=false">
		<ros2_control name="${system_name}" type="system">
			<hardware>
				<xacro:if value="${use_fake_hardware}"> <!--  -->
					<plugin>fake_components/GenericSystem</plugin>
					<param name="fake_sensor_commands">${fake_sensor_commands}</param>
					<param name="state_following_offset">0.0</param>
				</xacro:if>
				<xacro:if value="${mujoco}">
					<plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
					<param name="mujoco_model">${mujoco_model}</param>
					<param name="headless">${headless}</param>
					<param name="sim_speed_factor">${sim_speed_factor}</param>
					<param name="camera_publish_rate">${camera_publish_rate}</param>
					<param name="lidar_publish_rate">${lidar_publish_rate}</param>
					<param name="initial_keyframe">${initial_keyframe}</param>
					<param name="odom_free_joint_name">floating_base_joint</param>
					<param name="odom_topic">odom</param>
				</xacro:if>
			</hardware>

			<xacro:macro name="d1_joint" params="joint_name initial_position:=0.0">
				<joint name="${joint_name}">
					<command_interface name="position">
						<param name="initial_value">${initial_position}</param>
					</command_interface>
					<param name="kp">120.0</param>
					<param name="ki">0.0</param>
					<param name="kd">2.0</param>
					<state_interface name="position">
						<param name="initial_value">${initial_position}</param>
					</state_interface>
					<state_interface name="velocity">
						<param name="initial_value">0.0</param>
					</state_interface>
				</joint>
			</xacro:macro>

			<xacro:d1_joint joint_name="FL_ABAD_JOINT" initial_position="0.0"/>
			<xacro:d1_joint joint_name="FL_HIP_JOINT" initial_position="1.0475260019302368"/>
			<xacro:d1_joint joint_name="FL_KNEE_JOINT" initial_position="-1.9930626153945923"/>
			<xacro:d1_joint joint_name="FR_ABAD_JOINT" initial_position="0.0"/>
			<xacro:d1_joint joint_name="FR_HIP_JOINT" initial_position="1.0475260019302368"/>
			<xacro:d1_joint joint_name="FR_KNEE_JOINT" initial_position="-1.9930626153945923"/>
			<xacro:d1_joint joint_name="RL_ABAD_JOINT" initial_position="0.0"/>
			<xacro:d1_joint joint_name="RL_HIP_JOINT" initial_position="1.0475260019302368"/>
			<xacro:d1_joint joint_name="RL_KNEE_JOINT" initial_position="-1.9930626153945923"/>
			<xacro:d1_joint joint_name="RR_ABAD_JOINT" initial_position="0.0"/>
			<xacro:d1_joint joint_name="RR_HIP_JOINT" initial_position="1.0475260019302368"/>
			<xacro:d1_joint joint_name="RR_KNEE_JOINT" initial_position="-1.9930626153945923"/>

			<sensor name="imu_in_base_imu">
				<param name="mujoco_type">imu</param>
				<param name="mujoco_sensor_name">imu_in_base</param>
				<state_interface name="orientation.x"/>
				<state_interface name="orientation.y"/>
				<state_interface name="orientation.z"/>
				<state_interface name="orientation.w"/>
				<state_interface name="angular_velocity.x"/>
				<state_interface name="angular_velocity.y"/>
				<state_interface name="angular_velocity.z"/>
				<state_interface name="linear_acceleration.x"/>
				<state_interface name="linear_acceleration.y"/>
				<state_interface name="linear_acceleration.z"/>
			</sensor>

		</ros2_control>
	</xacro:macro>

</robot>
